In [18]:
# Import statements and basic sample datas

import numpy as np
import pandas as pd
from urllib.request import urlopen
from datascience import *

census_url = 'https://www2.census.gov/programs-surveys/' # url address of US census website. (Data soiurce)

# url-link of 2010-2015 population data csv file.
pop_url = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'
pop_tbl = Table().read_table(pop_url) # Create a table based on the csv file.

# Refined version of US population table 
ref_pop_tbl = pop_tbl.select('SEX', 'AGE', 4, 9).relabeled(2, '2010').relabeled(3, '2015')
ref_pop_tbl

SEX  | AGE  | 2010    | 2015
0    | 0    | 3951330 | 3978038
0    | 1    | 3957888 | 3968564
0    | 2    | 4090862 | 3966583
0    | 3    | 4111920 | 3974061
0    | 4    | 4077551 | 4020035
0    | 5    | 4064653 | 4018158
0    | 6    | 4073013 | 4019207
0    | 7    | 4043046 | 4148360
0    | 8    | 4025604 | 4167887
0    | 9    | 4125415 | 4133564
... (296 rows omitted)

#### 1. tmp_TABLE.select('Label' || index)

In [11]:
# Selects specific columns from table
partial_pop_tbl = pop_tbl.select('SEX', 'AGE', 4, 9)
partial_pop_tbl

SEX  | AGE  | POPESTIMATE2010 | POPESTIMATE2015
0    | 0    | 3951330         | 3978038
0    | 1    | 3957888         | 3968564
0    | 2    | 4090862         | 3966583
0    | 3    | 4111920         | 3974061
0    | 4    | 4077551         | 4020035
0    | 5    | 4064653         | 4018158
0    | 6    | 4073013         | 4019207
0    | 7    | 4043046         | 4148360
0    | 8    | 4025604         | 4167887
0    | 9    | 4125415         | 4133564
... (296 rows omitted)

#### 2. tmp_TABLE.relabeled(index, 'name')

In [14]:
# Changes the name of label
renamed_partial_pop_tbl = partial_pop_tbl.relabeled(2, '2010').relabeled(3, '2015')
renamed_partial_pop_tbl

SEX  | AGE  | 2010    | 2015
0    | 0    | 3951330 | 3978038
0    | 1    | 3957888 | 3968564
0    | 2    | 4090862 | 3966583
0    | 3    | 4111920 | 3974061
0    | 4    | 4077551 | 4020035
0    | 5    | 4064653 | 4018158
0    | 6    | 4073013 | 4019207
0    | 7    | 4043046 | 4148360
0    | 8    | 4025604 | 4167887
0    | 9    | 4125415 | 4133564
... (296 rows omitted)

#### 3. tmp_TABLE..set_format([list_of_indices], Formatter)

In [16]:
# Formats large number w/ comma. 
refined_us_pop_tbl = renamed_partial_pop_tbl.set_format([2, 3], NumberFormatter)
refined_us_pop_tbl

SEX  | AGE  | 2010      | 2015
0    | 0    | 3,951,330 | 3,978,038
0    | 1    | 3,957,888 | 3,968,564
0    | 2    | 4,090,862 | 3,966,583
0    | 3    | 4,111,920 | 3,974,061
0    | 4    | 4,077,551 | 4,020,035
0    | 5    | 4,064,653 | 4,018,158
0    | 6    | 4,073,013 | 4,019,207
0    | 7    | 4,043,046 | 4,148,360
0    | 8    | 4,025,604 | 4,167,887
0    | 9    | 4,125,415 | 4,133,564
... (296 rows omitted)

#### . tmp_TABLE.

#### . tmp_TABLE.

#### . tmp_TABLE.

#### . tmp_TABLE.