In [12]:
# Import statements and basic sample datas

import numpy as np
import pandas as pd
from urllib.request import urlopen

number_array = np.array([1,2,3,4,5])
number_array

boolean_array = number_array > 3 # boolean array
boolean_array

num_tbl = pd.DataFrame({'Numbers' : number_array}) # DataFrame of number_array
num_tbl

bool_tbl = pd.DataFrame({'Booleans' : boolean_array}) # DataFrame of boolean_array
bool_tbl


census_url = 'https://www2.census.gov/programs-surveys/' # url address of US census website. (Data soiurce)

# url-link of 2010-2015 population data csv file.
pop_url = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

pop_tbl = pd.read_csv(pop_url)
pop_tbl

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,0,0,3944153,3944160,3951330,3963087,3926540,3931141,3949775,3978038
1,0,1,3978070,3978090,3957888,3966551,3977939,3942872,3949776,3968564
2,0,2,4096929,4096939,4090862,3971565,3980095,3992720,3959664,3966583
3,0,3,4119040,4119051,4111920,4102470,3983157,3992734,4007079,3974061
4,0,4,4063170,4063186,4077551,4122294,4112849,3994449,4005716,4020035
...,...,...,...,...,...,...,...,...,...,...
301,2,97,53582,53605,54118,57159,59533,61255,62779,69285
302,2,98,36641,36675,37532,40116,42857,44359,46208,47272
303,2,99,26193,26214,26074,27030,29320,31112,32517,34064
304,2,100,44202,44246,45058,47556,50661,53902,58008,61886
305,2,999,156964212,156969328,157258820,158427085,159581546,160720625,161952064,163189523

# Data C8 Modules Week 2

## Module 2.1 Part 1 : Charts, Data Types, and Categorical Distributions

### 1. Charts : 

   >

#### [A] Line Graph :

   >

#### [B]  :

   > 1.

#### [C] :

   > 1.

#### [D] :

   > 1.

### Data Types :

### Categorical Distributions :


### 1. Charts : 

   > 1. 
   >

#### [A] Line Graph :

   > 1.
   

#### [B]  :

   > 1.
   

#### [C] :

   > 1.
   

#### [D] :

   > 1.