In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

pd.set_option('display.max_rows', 40)

## Read csv files from db directory

In [5]:
# file and DB URL
db_url = "C:/Users/hyo05/Documents/Portfolio/Apple transaction/csv/"
file_url = db_url + "Apple Card Transactions - April 2021.csv"

# 1.2 Transaction datre
Step 2.

# Step 1. Data cleaning

## 1.1 Reading a csv file and create data frame

### Rematch falsely matched pair of Merchant and Category.

In [6]:
# Define mecrchant and category dictionary for pair of merchant and category that does not match up with each other in the original data set.
apple_category_dict = {
    'Apple Services' : 'Entertainment',
    'Extra Space Storage' : 'Utilities',
    'Geico' : 'Automobile',
    'City of LA Dot Pvb Pbp' : 'Automobile',
    'Soundcloud' : 'Subscriptions',
    'T-Mobile' : 'Utilities',
    'FasTrak' : 'Automobile',
    'Marshalls' : 'Shopping',
    'trashwarrior.com' : 'Utilities',
    'Koreana Plaza Market' : 'Grocery',
    'Airbnb' : 'Travel',
    'Daily Cash Adjustment' : 'Other',
    'Chase Jayne' : 'Unknown',
    'Lim*Ride Cost' : 'General',
    "Zoomy's Santa Nella" : "Unknown",
    'H Mart' : 'Grocery',
    'Soundcloud' : 'Subscriptions',
    'Chevron' : 'Automobile',
    'Homeowners Insurance' : 'Utilities',
    'Tokyo Fish Market' : 'Grocery',
    'Safeway' : 'Grocery',
    'Discount Cigarette' : 'Entertainment',
    'Amazon Marketplace' : 'Grocery',
    'Amazon Music' : 'Subscription',
    'Dollar Tree' : 'Shopping',
    'www.coursehero.com' : 'Subscription',
    'updater.com' : 'Unknown',
    'Stellar' : 'General',
    'Amazon Web Services' : 'General',
    'The One Wireless & Gif' : 'Entertainment',
    'Amazon' : 'Shopping',
    'Big AL S' : 'Entertainment',
    'The UPS Store' : 'General',
    'Hornblower Yachts' : 'Unknown',
    'Card payment' : 'Payment',
    'Home Depot' : 'Shopping',
    'Aventri Event Reg' : 'Unknown',
    'UC Awpe Fee' : 'Tuition',
    'Element Vape' : 'Entertainment',
    'CVS Pharmacy' : 'General',
    'Amazon Prime' : 'Subscriptions',
    'FedEx' : 'General',
    'Service Dog Certificat' : 'General',
    'Contra Costa Comm Coll' : 'Tuition'
    }

In [7]:
apple_merchant_long_dict = {
    "Ach Deposit Internet Transfer From Account Ending In 3437" : "Card payment",
    'Geico *auto One Geico Plaza 800-841-3000 20076 Dc Usa (dispute Credit)' : 'Geico dispute credit',
    'Postmates Membership 201 3rd Stsuite 200 8778877815 94103 Ca Usa (dispute Credit)' : 'Postmate dispute credit',
    'Aventri Event Reg 7700 Eastport Parkway 2034039470 06854 Ct Usa (dispute Credit)' : 'Aventri dispute credit',
    'Amazon Web Services 440 Terry Ave N Aws.amazon.co98109 Wa Usa (dispute Credit)' : 'AWS dispute credit'
}

In [8]:
# Search for merchants in the dictionary and edit category if the merchant exists. 
def match_category(df, long_dict, category_dict):
    
    for index, row in df.iterrows():
        # Shortening long mervhant names.
        if row['Merchant'] in long_dict.keys():
            df.at[index, 'Merchant'] = long_dict.get(row['Merchant'])

        # Matching correct category.
        if row['Merchant'] in category_dict.keys():
            df.at[index, 'Category'] = category_dict.get(row['Merchant'])

    return df

### Divide 'Transaction Date' column into 3 columns: Month, Day, Year

In [9]:
# Cleaning date into Month, Day, Year for future operations
def clean_date(df):

    month = np.array([]).astype(int)
    day = np.array([]).astype(int)
    year = np.array([]).astype(int)

    for index, row in df.iterrows():
        date = row['Transaction Date'].split('/')
        month = np.append(month, date[0])
        day = np.append(day, date[1])
        year = np.append(year, date[2])

    # Insert Month, Day, Year column and drop 'Transaction Date' column.
    df.insert(0, 'Month', month)
    df.insert(1, 'Day', day)
    df.insert(2, 'Year', year)
    df = df.drop(columns=['Transaction Date'])

    return df

In [10]:
def read_csv(f_url, long_dict, cat_dcit):
    # Reading csv file for selected columns and create and sort dataframe by the Transaction date
    f_df = pd.read_csv(f_url)[['Transaction Date', 'Merchant', 'Category', 'Type', 'Amount (USD)']]
    f_df = f_df.sort_values(by=['Transaction Date'])

    # Cleaning Merchant and Category
    f_df = match_category(f_df, long_dict, cat_dcit)

    # Clean 'Transaction Date' column. 
    f_df = clean_date(f_df)

    return f_df

april_df = read_csv(file_url, apple_merchant_long_dict, apple_category_dict)
print(april_df)

   Month Day  Year        Merchant       Category      Type  Amount (USD)
40    03  31  2021        T-Mobile      Utilities  Purchase         26.68
39    04  01  2021           Geico     Automobile  Purchase        264.66
38    04  02  2021      Soundcloud  Subscriptions  Purchase          4.99
36    04  03  2021  Apple Services  Entertainment  Purchase          3.99
37    04  04  2021    Card payment        Payment   Payment       -343.30
..   ...  ..   ...             ...            ...       ...           ...
4     04  29  2021     Papa John's    Restaurants  Purchase         21.84
3     04  29  2021    Seoul Hotdog    Restaurants  Purchase         10.90
2     04  29  2021  Apple Services  Entertainment  Purchase         19.99
1     04  29  2021  Apple Services  Entertainment  Purchase          4.99
0     04  30  2021  Apple Services  Entertainment  Purchase          2.99

[41 rows x 7 columns]

## 1.2 Read all csv files from DB.

### Read all files from DB.

In [11]:
def initiate_db():
    # Create empty dataframe with cloumn labels 
    c_label = ['Month', 'Day', 'Year', 'Merchant', 'Category', 'Type', 'Amount (USD)']
    raw_df = pd.DataFrame(columns=c_label)

    # For each files in the DB append raw 
    for i in os.listdir(db_url):
        f_url = db_url + i
        tmp = read_csv(f_url, apple_merchant_long_dict, apple_category_dict)
        raw_df = raw_df.append(tmp, ignore_index=True)

    # Sorting by date
    raw_df = raw_df.sort_values(by=['Year', 'Month', 'Day'])

    # Reindexing
    raw_df = raw_df.reset_index().drop(columns='index')

    return raw_df

db = initiate_db()
db

    Month Day  Year         Merchant       Category      Type  Amount (USD)
0      05  16  2020        Postmates    Restaurants  Purchase         22.93
1      05  19  2020  In-N-Out Burger    Restaurants  Purchase         16.30
2      05  19  2020    Lim*Ride Cost        General  Purchase          2.99
3      05  21  2020      Jamba Juice    Restaurants  Purchase         13.78
4      05  21  2020     CVS Pharmacy        General  Purchase         54.61
..    ...  ..   ...              ...            ...       ...           ...
303    04  29  2021      Papa John's    Restaurants  Purchase         21.84
304    04  29  2021     Seoul Hotdog    Restaurants  Purchase         10.90
305    04  29  2021   Apple Services  Entertainment  Purchase         19.99
306    04  29  2021   Apple Services  Entertainment  Purchase          4.99
307    04  30  2021   Apple Services  Entertainment  Purchase          2.99

[308 rows x 7 columns]

## Update dictionary

### Create two column dataframe of Merchant and Category for each unique merchant.

In [12]:
# Create a dataframe of unique Merchant and Category pair.
def create_merchant_category_df(df): 
    category_arr = np.array([])
    merchant_ls = list(set(df.Merchant))

    # Append category_arr for each merchant in the Mercnat set.
    for i in merchant_ls:
        category = df.loc[df['Merchant'] == i]['Category'].values[0]
        category_arr = np.append(category_arr, category)

    # Create data frame of unique merchant and category pair.
    merchant_category_df = pd.DataFrame({
        "Merchant": merchant_ls,
        "Category": category_arr
    })

    return merchant_category_df

merchant_category_df = create_merchant_category_df(db)
merchant_category_df

                 Merchant       Category
0          Apple Services  Entertainment
1      Humphry Slocombe I    Restaurants
2           The UPS Store        General
3               Marshalls       Shopping
4    Homeowners Insurance      Utilities
..                    ...            ...
58            UC Awpe Fee        Tuition
59  Daily Cash Adjustment          Other
60            Papa John's    Restaurants
61           Amazon Music   Subscription
62                Chevron     Automobile

[63 rows x 2 columns]

### Create two column dataframe that shows merchants and their catergory that are not tracked in the apple_category_dictionary.

#### Ignore "Restaurants" category as they matches with their merchants.

In [13]:
# Iterate through dataframe and search for merchants not listed in the merchant and category dictionary.
def untracked_merchant(df):

    # Initialize empty arrays.
    category_arr = np.array([])
    merchant_arr = np.array([])
    merchant_ls = list(set(df.Merchant))
    
    # Iterate list of unique merchants and search for merchants not listed in the dictionary.
    for i in merchant_ls:    
        if i not in apple_category_dict.keys():
            category = df.loc[df['Merchant']==i]['Category'].values[0]
            # Ignore category "Restaurant"
            if category == "Restaurants":
                continue

            merchant_arr = np.append(merchant_arr, i)
            category_arr = np.append(category_arr, category)

    
    # Create data frame of unique merchant and category pair.
    untracked_merchant_df = pd.DataFrame({
        "Merchant": merchant_arr,
        "Category": category_arr
    })

    return untracked_merchant_df

untracked_merchant(db)

                  Merchant Category
0       AWS dispute credit   Credit
1     Geico dispute credit   Credit
2  Postmate dispute credit   Credit
3   Aventri dispute credit   Credit

#### 'Merchants' who has'Category' value w/ 'Other' needs to be updated
#### 'Unknown' used for transactions cannot be remembered.

In [17]:
# By each category
for category in list(set(db.Category)):
    print(category)
    tmp = db.loc[db['Category'] == category]
    tmp = tmp.groupby(by=["Merchant",'Year', 'Month']).sum()
    print(tmp)

Utilities
                                 Amount (USD)
Merchant             Year Month
Extra Space Storage  2020 05            79.20
                          06            55.20
                          07            55.20
                          08            55.20
                          09            55.20
                          10            55.20
                          11            55.20
                          12            55.20
                     2021 01            48.00
                          02            24.00
                          03           102.67
                          04            59.20
Homeowners Insurance 2020 11           160.00
T-Mobile             2020 12            37.63
                     2021 03            26.68
trashwarrior.com     2021 01            95.00
Subscriptions
                         Amount (USD)
Merchant     Year Month
Amazon Prime 2021 01            64.61
Soundcloud   2021 01             4.99
                  02             4.99
                  03             4.99
                  04             4.99
Subscription
                               Amount (USD)
Merchant           Year Month
Amazon Music       2020 06             0.99
                        07             0.99
                        08             0.99
                        09             0.99
                        10             0.99
www.coursehero.com 2021 02           119.40
Unknown
                                Amount (USD)
Merchant            Year Month
Aventri Event Reg   2020 10            70.00
Chase Jayne         2020 05             2.79
Hornblower Yachts   2020 07            20.00
Zoomy's Santa Nella 2020 06            42.49
updater.com         2020 12             1.00
Restaurants
                                   Amount (USD)
Merchant               Year Month
BB* Marufuku Ramen Oak 2021 04            25.67
Bazak Bazak Rice H     2021 01             4.50
Burger King            2020 05             9.25
DoorDash               2020 05            27.24
                            06           139.84
Homeroom To-Go         2021 04            13.75
Humphry Slocombe       2021 01            29.97
Humphry Slocombe I     2021 04            19.98
Hwal A Kwang Jang      2020 05           109.49
In-N-Out Burger        2020 05            16.30
                            06            14.27
                       2021 01            30.45
Jamba Juice            2020 05            13.78
Kansai Japanese Restur 2021 02            14.15
Panda Express          2021 02            24.91
Papa John's            2020 07            30.57
                       2021 04            21.84
Postmates              2020 05            58.55
                            06           128.46
                            07            19.82
                            09             9.99
                            10             9.99
                            11             9.99
                            12             9.99
Seoul Hotdog           2021 01            25.61
                            04            10.90
Starbucks              2020 07            25.00
Automobile
                                   Amount (USD)
Merchant               Year Month
Chevron                2020 05             2.09
City of LA Dot Pvb Pbp 2021 04            65.00
FasTrak                2020 11            25.00
                            12            50.00
                       2021 03            50.00
Geico                  2020 08           290.95
                            09           460.40
                            11           732.72
                            12           415.38
                       2021 01           335.16
                            03           265.54
                            04           264.66
Shopping
                        Amount (USD)
Merchant    Year Month
Amazon      2020 06            54.59
                 07            79.46
                 09            21.84
                 12           215.90
            2021 01           228.87
Dollar Tree 2021 01            14.47
Home Depot  2020 05             5.48
Marshalls   2021 01            15.33
General
                                   Amount (USD)
Merchant               Year Month
Amazon Web Services    2020 12            80.34
                       2021 01            20.72
CVS Pharmacy           2020 05            54.61
                       2021 01             7.67
FedEx                  2021 01             2.93
Lim*Ride Cost          2020 05             2.99
Service Dog Certificat 2020 12            76.99
Stellar                2020 10            69.99
The UPS Store          2021 01            14.52
Grocery
                                 Amount (USD)
Merchant             Year Month
Amazon Marketplace   2020 05           716.53
                          07            40.03
                          12            16.70
                     2021 01            64.87
H Mart               2020 05           130.98
                          06           254.34
                     2021 01            94.19
                          02            58.12
Koreana Plaza Market 2020 06            93.06
                     2021 01            88.91
Safeway              2021 01            30.64
                          04            22.62
Tokyo Fish Market    2020 07            35.26
                     2021 02            34.31
Other
                                  Amount (USD)
Merchant              Year Month
Daily Cash Adjustment 2020 08             2.73
                           10             4.88
                           11             0.40
                           12             2.08
                      2021 01             0.80
                           03             3.66
Tuition
                                   Amount (USD)
Merchant               Year Month
Contra Costa Comm Coll 2020 12            145.0
UC Awpe Fee            2020 11            110.0
Payment
                         Amount (USD)
Merchant     Year Month
Card payment 2020 05          -232.79
                  06          -430.77
                  07         -1645.08
                  08          -683.73
                  09          -303.94
                  10          -868.26
                  11          -979.50
                  12          -811.27
             2021 01         -2252.04
                  02          -825.54
                  03          -645.85
                  04          -695.14
Entertainment
                                   Amount (USD)
Merchant               Year Month
Apple Services         2020 05            15.98
                            06            82.95
                            07            78.93
                            08           110.91
                            09            83.92
                            10           198.34
                            11            79.93
                            12           279.88
                       2021 01           384.77
                            02            91.94
                            03           177.90
                            04           294.77
Big AL S               2020 05            76.46
Discount Cigarette     2020 05            76.75
Element Vape           2021 01            89.74
The One Wireless & Gif 2021 04            93.59
Credit
                                    Amount (USD)
Merchant                Year Month
AWS dispute credit      2020 12           -80.34
Aventri dispute credit  2020 10           -70.00
Geico dispute credit    2020 12          -366.36
Postmate dispute credit 2020 10            -9.99
                             11            -9.99
                             12            -9.99
Travel
                     Amount (USD)
Merchant Year Month
Airbnb   2020 08           243.80
              09           489.72
              10          -119.32
              11           160.54
              12           112.61

In [15]:
# By each category and month
print(db.groupby(by=['Category', 'Year', 'Month']).sum())

                       Amount (USD)
Category   Year Month
Automobile 2020 05             2.09
                08           290.95
                09           460.40
                11           757.72
                12           465.38
...                             ...
Utilities  2020 12            92.83
           2021 01           143.00
                02            24.00
                03           129.35
                04            59.20

[102 rows x 1 columns]

## Remove all files after reading them
## Check whether any file in the directory for update
##

# 2. Analysis
## 2.1 By type
### purchase and payment
## 2.2 Merchant and Disctionary
### Unique merchant
#### Update merchant dictionary
### Monthly spending on each merchant and category 
## 2.3 Monthly report

In [16]:
purchase = april_df[april_df['Type'] == "Purchase"]
print(purchase)
payment = april_df[april_df['Type'] == "Payment"]
print(payment)

   Month Day  Year                Merchant       Category      Type  \
40    03  31  2021                T-Mobile      Utilities  Purchase
39    04  01  2021                   Geico     Automobile  Purchase
38    04  02  2021              Soundcloud  Subscriptions  Purchase
36    04  03  2021          Apple Services  Entertainment  Purchase
35    04  08  2021          Apple Services  Entertainment  Purchase
34    04  08  2021          Apple Services  Entertainment  Purchase
33    04  13  2021          Apple Services  Entertainment  Purchase
31    04  18  2021     Extra Space Storage      Utilities  Purchase
29    04  19  2021                 Safeway        Grocery  Purchase
28    04  20  2021          Apple Services  Entertainment  Purchase
30    04  20  2021          Apple Services  Entertainment  Purchase
26    04  21  2021          Apple Services  Entertainment  Purchase
25    04  21  2021          Apple Services  Entertainment  Purchase
24    04  21  2021          Apple Services  Entertainment  Purchase
23    04  21  2021          Apple Services  Entertainment  Purchase
27    04  22  2021  The One Wireless & Gif  Entertainment  Purchase
22    04  22  2021          Apple Services  Entertainment  Purchase
21    04  22  2021          Apple Services  Entertainment  Purchase
20    04  22  2021          Apple Services  Entertainment  Purchase
18    04  22  2021                 Safeway        Grocery  Purchase
17    04  22  2021          Apple Services  Entertainment  Purchase
16    04  22  2021          Apple Services  Entertainment  Purchase
19    04  22  2021          Apple Services  Entertainment  Purchase
15    04  23  2021          Homeroom To-Go    Restaurants  Purchase
13    04  24  2021          Apple Services  Entertainment  Purchase
12    04  24  2021          Apple Services  Entertainment  Purchase
9     04  25  2021  City of LA Dot Pvb Pbp     Automobile  Purchase
11    04  25  2021          Apple Services  Entertainment  Purchase
10    04  26  2021          Apple Services  Entertainment  Purchase
8     04  26  2021  BB* Marufuku Ramen Oak    Restaurants  Purchase
7     04  26  2021     Extra Space Storage      Utilities  Purchase
6     04  27  2021                 Safeway        Grocery  Purchase
5     04  28  2021      Humphry Slocombe I    Restaurants  Purchase
4     04  29  2021             Papa John's    Restaurants  Purchase
3     04  29  2021            Seoul Hotdog    Restaurants  Purchase
2     04  29  2021          Apple Services  Entertainment  Purchase
1     04  29  2021          Apple Services  Entertainment  Purchase
0     04  30  2021          Apple Services  Entertainment  Purchase

    Amount (USD)
40         26.68
39        264.66
38          4.99
36          3.99
35          2.99
34          2.99
33         30.99
31         24.00
29          3.27
28          2.99
30          2.99
26         19.99
25          4.99
24          4.99
23          4.99
27         93.59
22         19.99
21         49.99
20         19.99
18         10.39
17          9.99
16          4.99
19         19.99
15         13.75
13          2.99
12          2.99
9          65.00
11         49.99
10          3.99
8          25.67
7          35.20
6           8.96
5          19.98
4          21.84
3          10.90
2          19.99
1           4.99
0           2.99
   Month Day  Year      Merchant Category     Type  Amount (USD)
37    04  04  2021  Card payment  Payment  Payment       -343.30
32    04  15  2021  Card payment  Payment  Payment        -40.96
14    04  25  2021  Card payment  Payment  Payment       -310.88