In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

pd.set_option('display.max_rows', 40)

## Read csv files from db directory

In [34]:
# file and DB URL
db_url = "C:/Users/hyo05/Documents/Portfolio/Apple transaction/csv/"
file_url = db_url + "Apple Card Transactions - April 2021.csv"

# 1.2 Transaction datre
Step 2.

# Step 1. Data cleaning

## 1.1 Reading a csv file and create data frame

### Rematch falsely matched pair of Merchant and Category.

In [192]:
# Define mecrchant and category dictionary for pair of merchant and category that does not match up with each other in the original data set.
apple_category_dict = {
    'Apple Services' : 'Entertainment',
    'Extra Space Storage' : 'Utilities',
    'Geico' : 'Automobile',
    'City of LA Dot Pvb Pbp' : 'Automobile',
    'Soundcloud' : 'Subscriptions',
    'T-Mobile' : 'Utilities',
    'FasTrak' : 'Automobile',
    'Marshalls' : 'Shopping',
    'trashwarrior.com' : 'Utilities',
    'Koreana Plaza Market' : 'Grocery',
    'Airbnb' : 'Travel',
    'Daily Cash Adjustment' : 'Other',
    'Chase Jayne' : 'Unknown',
    'Lim*Ride Cost' : 'General',
    "Zoomy's Santa Nella" : "Unknown",
    'H Mart' : 'Grocery',
    'Soundcloud' : 'Subscriptions',
    'Chevron' : 'Automobile',
    'Homeowners Insurance' : 'Utilities',
    'Tokyo Fish Market' : 'Grocery',
    'Safeway' : 'Grocery',
    'Discount Cigarette' : 'Entertainment',
    'Amazon Marketplace' : 'Grocery',
    'Amazon Music' : 'Subscription',
    'Dollar Tree' : 'Shopping',
    'www.coursehero.com' : 'Subscription',
    'updater.com' : 'Unknown',
    'Stellar' : 'General',
    'Amazon Web Services' : 'General',
    'The One Wireless & Gif' : 'Entertainment',
    'Amazon' : 'Shopping',
    'Big AL S' : 'Entertainment',
    'The UPS Store' : 'General',
    'Hornblower Yachts' : 'Unknown',
    'Card payment' : 'Payment',
    'Home Depot' : 'Shopping',
    'Aventri Event Reg' : 'Unknown',
    'UC Awpe Fee' : 'Tuition',
    'Element Vape' : 'Entertainment',
    'CVS Pharmacy' : 'General',
    'Amazon Prime' : 'Subscriptions',
    'FedEx' : 'General',
    'Service Dog Certificat' : 'General',
    'Contra Costa Comm Coll' : 'Tuition'
    }

In [202]:
apple_merchant_long_dict = {
    "Ach Deposit Internet Transfer From Account Ending In 3437" : "Card payment",
    'Geico *auto One Geico Plaza 800-841-3000 20076 Dc Usa (dispute Credit)' : 'Geico dispute credit',
    'Postmates Membership 201 3rd Stsuite 200 8778877815 94103 Ca Usa (dispute Credit)' : 'Postmate dispute credit',
    'Aventri Event Reg 7700 Eastport Parkway 2034039470 06854 Ct Usa (dispute Credit)' : 'Aventri dispute credit',
    'Amazon Web Services 440 Terry Ave N Aws.amazon.co98109 Wa Usa (dispute Credit)' : 'AWS dispute credit'
}

In [203]:
# Search for merchants in the dictionary and edit category if the merchant exists. 
def match_category(df, long_dict, category_dict):
    
    for index, row in df.iterrows():
        # Shortening long mervhant names.
        if row['Merchant'] in long_dict.keys():
            df.at[index, 'Merchant'] = long_dict.get(row['Merchant'])

        # Matching correct category.
        if row['Merchant'] in category_dict.keys():
            df.at[index, 'Category'] = category_dict.get(row['Merchant'])

    return df

### Divide 'Transaction Date' column into 3 columns: Month, Day, Year

In [204]:
# Cleaning date into Month, Day, Year for future operations
def clean_date(df):

    month = np.array([]).astype(int)
    day = np.array([]).astype(int)
    year = np.array([]).astype(int)

    for index, row in df.iterrows():
        date = row['Transaction Date'].split('/')
        month = np.append(month, date[0])
        day = np.append(day, date[1])
        year = np.append(year, date[2])

    # Insert Month, Day, Year column and drop 'Transaction Date' column.
    df.insert(0, 'Month', month)
    df.insert(1, 'Day', day)
    df.insert(2, 'Year', year)
    df = df.drop(columns=['Transaction Date'])

    return df

In [206]:
def read_csv(f_url, long_dict, cat_dcit):
    # Reading csv file for selected columns and create and sort dataframe by the Transaction date
    f_df = pd.read_csv(f_url)[['Transaction Date', 'Merchant', 'Category', 'Type', 'Amount (USD)']]
    f_df = f_df.sort_values(by=['Transaction Date'])

    # Cleaning Merchant and Category
    f_df = match_category(f_df, long_dict, cat_dcit)

    # Clean 'Transaction Date' column. 
    f_df = clean_date(f_df)

    return f_df

april_df = read_csv(file_url, apple_merchant_long_dict, apple_category_dict)
print(april_df)

   Month Day  Year        Merchant       Category      Type  Amount (USD)
40    03  31  2021        T-Mobile      Utilities  Purchase         26.68
39    04  01  2021           Geico     Automobile  Purchase        264.66
38    04  02  2021      Soundcloud  Subscriptions  Purchase          4.99
36    04  03  2021  Apple Services  Entertainment  Purchase          3.99
37    04  04  2021    Card payment        Payment   Payment       -343.30
..   ...  ..   ...             ...            ...       ...           ...
4     04  29  2021     Papa John's    Restaurants  Purchase         21.84
3     04  29  2021    Seoul Hotdog    Restaurants  Purchase         10.90
2     04  29  2021  Apple Services  Entertainment  Purchase         19.99
1     04  29  2021  Apple Services  Entertainment  Purchase          4.99
0     04  30  2021  Apple Services  Entertainment  Purchase          2.99

[41 rows x 7 columns]

## 1.2 Read all csv files from DB.

### Read all files from DB.

In [208]:
def initiate_db():
    # Create empty dataframe with cloumn labels 
    c_label = ['Month', 'Day', 'Year', 'Merchant', 'Category', 'Type', 'Amount (USD)']
    raw_df = pd.DataFrame(columns=c_label)

    # For each files in the DB append raw 
    for i in os.listdir(db_url):
        f_url = db_url + i
        tmp = read_csv(f_url, apple_merchant_long_dict, apple_category_dict)
        raw_df = raw_df.append(tmp, ignore_index=True)

    # Sorting by date
    raw_df = raw_df.sort_values(by=['Year', 'Month', 'Day'])

    # Reindexing
    raw_df = raw_df.reset_index().drop(columns='index')

    return raw_df

db = initiate_db()
db

    Month Day  Year         Merchant       Category      Type  Amount (USD)
0      05  16  2020        Postmates    Restaurants  Purchase         22.93
1      05  19  2020  In-N-Out Burger    Restaurants  Purchase         16.30
2      05  19  2020    Lim*Ride Cost          Other  Purchase          2.99
3      05  21  2020      Jamba Juice    Restaurants  Purchase         13.78
4      05  21  2020     CVS Pharmacy        General  Purchase         54.61
..    ...  ..   ...              ...            ...       ...           ...
303    04  29  2021      Papa John's    Restaurants  Purchase         21.84
304    04  29  2021     Seoul Hotdog    Restaurants  Purchase         10.90
305    04  29  2021   Apple Services  Entertainment  Purchase         19.99
306    04  29  2021   Apple Services  Entertainment  Purchase          4.99
307    04  30  2021   Apple Services  Entertainment  Purchase          2.99

[308 rows x 7 columns]

## Update dictionary

### Create two column dataframe of Merchant and Category for each unique merchant.

In [215]:
# Create a dataframe of unique Merchant and Category pair.
def create_merchant_category_df(df): 
    category_arr = np.array([])
    merchant_ls = list(set(df.Merchant))

    # Append category_arr for each merchant in the Mercnat set.
    for i in merchant_ls:
        category = df.loc[df['Merchant'] == i]['Category'].values[0]
        category_arr = np.append(category_arr, category)

    # Create data frame of unique merchant and category pair.
    merchant_category_df = pd.DataFrame({
        "Merchant": merchant_ls,
        "Category": category_arr
    })

    return merchant_category_df

merchant_category_df = create_merchant_category_df(db)
merchant_category_df

                  Merchant       Category
0       Amazon Marketplace        Grocery
1           Apple Services  Entertainment
2             Amazon Music   Subscription
3              Dollar Tree       Shopping
4                  FasTrak     Automobile
..                     ...            ...
58      Discount Cigarette  Entertainment
59     Extra Space Storage      Utilities
60  Contra Costa Comm Coll        Tuition
61  BB* Marufuku Ramen Oak    Restaurants
62          Homeroom To-Go    Restaurants

[63 rows x 2 columns]

### Create two column dataframe that shows merchants and their catergory that are not tracked in the apple_category_dictionary.

#### Ignore "Restaurants" category as they matches with their merchants.

In [220]:
# Iterate through dataframe and search for merchants not listed in the merchant and category dictionary.
def untracked_merchant(df):

    # Initialize empty arrays.
    category_arr = np.array([])
    merchant_arr = np.array([])
    merchant_ls = list(set(df.Merchant))
    
    # Iterate list of unique merchants and search for merchants not listed in the dictionary.
    for i in merchant_ls:    
        if i not in apple_category_dict.keys():
            category = df.loc[df['Merchant']==i]['Category'].values[0]
            # Ignore category "Restaurant"
            if category == "Restaurants":
                continue

            merchant_arr = np.append(merchant_arr, i)
            category_arr = np.append(category_arr, category)

    
    # Create data frame of unique merchant and category pair.
    untracked_merchant_df = pd.DataFrame({
        "Merchant": merchant_arr,
        "Category": category_arr
    })

    return untracked_merchant_df

untracked_merchant(db)

                  Merchant Category
0  Postmate dispute credit   Credit
1     Geico dispute credit   Credit
2   Aventri dispute credit   Credit
3       AWS dispute credit   Credit

#### 'Merchants' who has'Category' value w/ 'Other' needs to be updated
#### 'Unknown' used for transactions cannot be remembered.

In [222]:
# By each category
for category in list(set(db.Category)):
    print(category)
    tmp = db.loc[db['Category'] == category]
    print(tmp)

Grocery
    Month Day  Year              Merchant Category      Type  Amount (USD)
5      05  21  2020                H Mart  Grocery  Purchase        122.18
7      05  27  2020    Amazon Marketplace  Grocery  Purchase        217.52
11     05  28  2020    Amazon Marketplace  Grocery  Purchase         98.31
12     05  28  2020    Amazon Marketplace  Grocery  Purchase        240.19
13     05  28  2020    Amazon Marketplace  Grocery  Purchase         85.16
14     05  28  2020    Amazon Marketplace  Grocery  Purchase         68.81
16     05  28  2020                H Mart  Grocery  Purchase          8.80
18     05  29  2020    Amazon Marketplace  Grocery  Purchase          6.54
30     06  08  2020                H Mart  Grocery  Purchase        254.34
35     06  13  2020  Koreana Plaza Market  Grocery  Purchase         93.06
49     07  10  2020    Amazon Marketplace  Grocery  Purchase         25.84
50     07  10  2020    Amazon Marketplace  Grocery  Purchase         14.19
58     07  28  2020     Tokyo Fish Market  Grocery  Purchase         35.26
167    12  31  2020    Amazon Marketplace  Grocery  Purchase         16.70
177    01  02  2021    Amazon Marketplace  Grocery  Purchase         48.17
182    01  05  2021    Amazon Marketplace  Grocery  Purchase         16.70
184    01  05  2021  Koreana Plaza Market  Grocery  Purchase          2.16
185    01  05  2021  Koreana Plaza Market  Grocery  Purchase         55.28
192    01  07  2021  Koreana Plaza Market  Grocery  Purchase         31.47
219    01  19  2021               Safeway  Grocery  Purchase         30.64
227    01  29  2021                H Mart  Grocery  Purchase         94.19
235    02  10  2021     Tokyo Fish Market  Grocery  Purchase         34.31
244    02  26  2021                H Mart  Grocery  Purchase         58.12
277    04  19  2021               Safeway  Grocery  Purchase          3.27
288    04  22  2021               Safeway  Grocery  Purchase         10.39
301    04  27  2021               Safeway  Grocery  Purchase          8.96
Utilities
    Month Day  Year              Merchant   Category      Type  Amount (USD)
20     05  30  2020   Extra Space Storage  Utilities  Purchase         79.20
41     06  30  2020   Extra Space Storage  Utilities  Purchase         55.20
60     07  30  2020   Extra Space Storage  Utilities  Purchase         55.20
77     08  30  2020   Extra Space Storage  Utilities  Purchase         55.20
89     09  30  2020   Extra Space Storage  Utilities  Purchase         55.20
115    10  30  2020   Extra Space Storage  Utilities  Purchase         55.20
128    11  17  2020  Homeowners Insurance  Utilities  Purchase        160.00
132    11  30  2020   Extra Space Storage  Utilities  Purchase         55.20
165    12  30  2020              T-Mobile  Utilities  Purchase         37.63
166    12  30  2020   Extra Space Storage  Utilities  Purchase         55.20
218    01  18  2021   Extra Space Storage  Utilities  Purchase         48.00
225    01  27  2021      trashwarrior.com  Utilities  Purchase         95.00
240    02  18  2021   Extra Space Storage  Utilities  Purchase         24.00
256    03  18  2021   Extra Space Storage  Utilities  Purchase         24.00
262    03  26  2021   Extra Space Storage  Utilities  Purchase         78.67
266    03  31  2021              T-Mobile  Utilities  Purchase         26.68
276    04  18  2021   Extra Space Storage  Utilities  Purchase         24.00
300    04  26  2021   Extra Space Storage  Utilities  Purchase         35.20
Automobile
    Month Day  Year                Merchant    Category      Type  \
10     05  27  2020                 Chevron  Automobile  Purchase
74     08  29  2020                   Geico  Automobile  Purchase
90     09  30  2020                   Geico  Automobile  Purchase
119    11  05  2020                   Geico  Automobile  Purchase
120    11  06  2020                 FasTrak  Automobile  Purchase
136    11  30  2020                   Geico  Automobile  Purchase
148    12  05  2020                 FasTrak  Automobile  Purchase
161    12  29  2020                 FasTrak  Automobile  Purchase
162    12  30  2020                   Geico  Automobile  Purchase
229    01  30  2021                   Geico  Automobile  Purchase
247    03  01  2021                   Geico  Automobile  Purchase
249    03  05  2021                 FasTrak  Automobile  Purchase
260    03  24  2021                 FasTrak  Automobile  Purchase
268    04  01  2021                   Geico  Automobile  Purchase
295    04  25  2021  City of LA Dot Pvb Pbp  Automobile  Purchase

     Amount (USD)
10           2.09
74         290.95
90         460.40
119        366.36
120         25.00
136        366.36
148         25.00
161         25.00
162        415.38
229        335.16
247        265.54
249         25.00
260         25.00
268        264.66
295         65.00
Unknown
    Month Day  Year             Merchant Category      Type  Amount (USD)
8      05  27  2020          Chase Jayne  Unknown  Purchase          2.79
29     06  05  2020  Zoomy's Santa Nella  Unknown  Purchase         42.49
63     07  31  2020    Hornblower Yachts  Unknown  Purchase         20.00
108    10  20  2020    Aventri Event Reg  Unknown  Purchase         70.00
146    12  04  2020          updater.com  Unknown  Purchase          1.00
Tuition
    Month Day  Year                Merchant Category      Type  Amount (USD)
117    11  01  2020             UC Awpe Fee  Tuition  Purchase         110.0
152    12  08  2020  Contra Costa Comm Coll  Tuition  Purchase         145.0
General
    Month Day  Year                Merchant Category      Type  Amount (USD)
4      05  21  2020            CVS Pharmacy  General  Purchase         54.61
112    10  25  2020                 Stellar  General  Purchase         69.99
145    12  03  2020     Amazon Web Services  General  Purchase         80.34
151    12  08  2020  Service Dog Certificat  General  Purchase         76.99
172    01  01  2021            CVS Pharmacy  General  Purchase          7.67
178    01  03  2021     Amazon Web Services  General  Purchase         20.72
212    01  15  2021                   FedEx  General  Purchase          2.93
213    01  15  2021           The UPS Store  General  Purchase         14.52
Payment
    Month Day  Year      Merchant Category     Type  Amount (USD)
6      05  24  2020  Card payment  Payment  Payment       -232.79
42     06  30  2020  Card payment  Payment  Payment       -430.77
46     07  05  2020  Card payment  Payment  Payment      -1645.08
75     08  29  2020  Card payment  Payment  Payment       -683.73
92     09  30  2020  Card payment  Payment  Payment       -303.94
116    10  31  2020  Card payment  Payment  Payment       -868.26
123    11  10  2020  Card payment  Payment  Payment       -708.94
134    11  30  2020  Card payment  Payment  Payment       -220.76
135    11  30  2020  Card payment  Payment  Payment        -49.80
150    12  08  2020  Card payment  Payment  Payment       -811.27
170    01  01  2021  Card payment  Payment  Payment       -792.36
187    01  06  2021  Card payment  Payment  Payment       -755.99
193    01  08  2021  Card payment  Payment  Payment       -300.19
217    01  16  2021  Card payment  Payment  Payment       -403.50
232    02  02  2021  Card payment  Payment  Payment       -546.77
242    02  23  2021  Card payment  Payment  Payment       -278.77
255    03  14  2021  Card payment  Payment  Payment       -438.55
261    03  25  2021  Card payment  Payment  Payment       -103.63
263    03  29  2021  Card payment  Payment  Payment       -103.67
271    04  04  2021  Card payment  Payment  Payment       -343.30
275    04  15  2021  Card payment  Payment  Payment        -40.96
296    04  25  2021  Card payment  Payment  Payment       -310.88
Travel
    Month Day  Year Merchant Category      Type  Amount (USD)
69     08  12  2020   Airbnb   Travel  Purchase        136.53
70     08  12  2020   Airbnb   Travel  Purchase        243.80
72     08  21  2020   Airbnb   Travel  Purchase       -136.53
86     09  15  2020   Airbnb   Travel  Purchase        336.01
87     09  20  2020   Airbnb   Travel  Purchase        153.71
97     10  06  2020   Airbnb   Travel  Purchase        124.48
113    10  29  2020   Airbnb   Travel  Purchase       -243.80
118    11  02  2020   Airbnb   Travel  Purchase        160.54
153    12  12  2020   Airbnb   Travel  Purchase        171.55
158    12  20  2020   Airbnb   Travel  Purchase        -58.94
Restaurants
    Month Day  Year                Merchant     Category      Type  \
0      05  16  2020               Postmates  Restaurants  Purchase
1      05  19  2020         In-N-Out Burger  Restaurants  Purchase
3      05  21  2020             Jamba Juice  Restaurants  Purchase
9      05  27  2020             Burger King  Restaurants  Purchase
17     05  29  2020               Postmates  Restaurants  Purchase
19     05  29  2020       Hwal A Kwang Jang  Restaurants  Purchase
23     05  30  2020                DoorDash  Restaurants  Purchase
26     06  01  2020         In-N-Out Burger  Restaurants  Purchase
28     06  05  2020                DoorDash  Restaurants  Purchase
32     06  10  2020               Postmates  Restaurants  Purchase
36     06  15  2020               Postmates  Restaurants  Purchase
37     06  17  2020               Postmates  Restaurants  Purchase
38     06  18  2020               Postmates  Restaurants  Purchase
40     06  28  2020               Postmates  Restaurants  Purchase
51     07  11  2020               Starbucks  Restaurants  Purchase
53     07  13  2020               Postmates  Restaurants  Purchase
56     07  19  2020             Papa John's  Restaurants  Purchase
84     09  13  2020               Postmates  Restaurants  Purchase
102    10  13  2020               Postmates  Restaurants  Purchase
124    11  13  2020               Postmates  Restaurants  Purchase
155    12  13  2020               Postmates  Restaurants  Purchase
174    01  01  2021         In-N-Out Burger  Restaurants  Purchase
188    01  06  2021        Humphry Slocombe  Restaurants  Purchase
190    01  07  2021            Seoul Hotdog  Restaurants  Purchase
194    01  09  2021        Humphry Slocombe  Restaurants  Purchase
195    01  09  2021            Seoul Hotdog  Restaurants  Purchase
210    01  13  2021         In-N-Out Burger  Restaurants  Purchase
216    01  16  2021            Seoul Hotdog  Restaurants  Purchase
221    01  25  2021         In-N-Out Burger  Restaurants  Purchase
226    01  29  2021      Bazak Bazak Rice H  Restaurants  Purchase
238    02  14  2021           Panda Express  Restaurants  Purchase
239    02  18  2021  Kansai Japanese Restur  Restaurants  Purchase
243    02  24  2021           Panda Express  Restaurants  Purchase
292    04  23  2021          Homeroom To-Go  Restaurants  Purchase
299    04  26  2021  BB* Marufuku Ramen Oak  Restaurants  Purchase
302    04  28  2021      Humphry Slocombe I  Restaurants  Purchase
303    04  29  2021             Papa John's  Restaurants  Purchase
304    04  29  2021            Seoul Hotdog  Restaurants  Purchase

     Amount (USD)
0           22.93
1           16.30
3           13.78
9            9.25
17          35.62
19         109.49
23          27.24
26          14.27
28         139.84
32          22.50
36          20.25
37          18.11
38          21.74
40          45.86
51          25.00
53          19.82
56          30.57
84           9.99
102          9.99
124          9.99
155          9.99
174         10.15
188          9.99
190          9.26
194         19.98
195          9.81
210         10.15
216          6.54
221         10.15
226          4.50
238         10.95
239         14.15
243         13.96
292         13.75
299         25.67
302         19.98
303         21.84
304         10.90
Subscription
    Month Day  Year            Merchant      Category      Type  Amount (USD)
33     06  12  2020        Amazon Music  Subscription  Purchase          0.99
52     07  12  2020        Amazon Music  Subscription  Purchase          0.99
68     08  12  2020        Amazon Music  Subscription  Purchase          0.99
82     09  12  2020        Amazon Music  Subscription  Purchase          0.99
101    10  12  2020        Amazon Music  Subscription  Purchase          0.99
241    02  23  2021  www.coursehero.com  Subscription  Purchase        119.40
Credit
    Month Day  Year                 Merchant Category    Type  Amount (USD)
103    10  14  2020  Postmate dispute credit   Credit  Credit         -9.99
109    10  20  2020   Aventri dispute credit   Credit  Credit        -70.00
125    11  13  2020  Postmate dispute credit   Credit  Credit         -9.99
142    12  01  2020     Geico dispute credit   Credit  Credit       -366.36
144    12  03  2020       AWS dispute credit   Credit  Credit        -80.34
154    12  12  2020  Postmate dispute credit   Credit  Credit         -9.99
Entertainment
    Month Day  Year            Merchant       Category      Type  Amount (USD)
21     05  30  2020  Discount Cigarette  Entertainment  Purchase         76.75
22     05  30  2020            Big AL S  Entertainment  Purchase         76.46
24     05  31  2020      Apple Services  Entertainment  Purchase         12.99
25     05  31  2020      Apple Services  Entertainment  Purchase          2.99
27     06  04  2020      Apple Services  Entertainment  Purchase         30.99
..    ...  ..   ...                 ...            ...       ...           ...
297    04  25  2021      Apple Services  Entertainment  Purchase         49.99
298    04  26  2021      Apple Services  Entertainment  Purchase          3.99
305    04  29  2021      Apple Services  Entertainment  Purchase         19.99
306    04  29  2021      Apple Services  Entertainment  Purchase          4.99
307    04  30  2021      Apple Services  Entertainment  Purchase          2.99

[123 rows x 7 columns]
Subscriptions
    Month Day  Year      Merchant       Category      Type  Amount (USD)
175    01  02  2021    Soundcloud  Subscriptions  Purchase          4.99
189    01  06  2021  Amazon Prime  Subscriptions  Purchase         64.61
231    02  01  2021    Soundcloud  Subscriptions  Purchase          4.99
248    03  03  2021    Soundcloud  Subscriptions  Purchase          4.99
269    04  02  2021    Soundcloud  Subscriptions  Purchase          4.99
Shopping
    Month Day  Year     Merchant  Category      Type  Amount (USD)
15     05  28  2020   Home Depot  Shopping  Purchase          5.48
34     06  12  2020       Amazon  Shopping  Purchase         54.59
48     07  10  2020       Amazon  Shopping  Purchase         26.41
54     07  18  2020       Amazon  Shopping  Purchase         29.46
55     07  18  2020       Amazon  Shopping  Purchase         23.59
80     09  02  2020       Amazon  Shopping  Purchase         21.84
169    12  31  2020       Amazon  Shopping  Purchase        215.90
171    01  01  2021  Dollar Tree  Shopping  Purchase         14.47
176    01  02  2021       Amazon  Shopping  Purchase         37.54
183    01  05  2021       Amazon  Shopping  Purchase          1.62
186    01  05  2021    Marshalls  Shopping  Purchase         15.33
211    01  14  2021       Amazon  Shopping  Purchase         39.99
214    01  16  2021       Amazon  Shopping  Purchase         18.33
215    01  16  2021       Amazon  Shopping  Purchase        131.39
Other
    Month Day  Year               Merchant Category      Type  Amount (USD)
2      05  19  2020          Lim*Ride Cost    Other  Purchase          2.99
73     08  22  2020  Daily Cash Adjustment    Other     Debit          2.73
114    10  29  2020  Daily Cash Adjustment    Other     Debit          4.88
126    11  14  2020  Daily Cash Adjustment    Other     Debit          0.20
130    11  19  2020  Daily Cash Adjustment    Other     Debit          0.20
156    12  13  2020  Daily Cash Adjustment    Other     Debit          0.70
157    12  14  2020  Daily Cash Adjustment    Other     Debit          0.20
159    12  21  2020  Daily Cash Adjustment    Other     Debit          1.18
222    01  25  2021  Daily Cash Adjustment    Other     Debit          0.80
257    03  19  2021  Daily Cash Adjustment    Other     Debit          3.66

In [231]:
# By each category and month
print(db.groupby(by=['Category', 'Year', 'Month']).sum())

                       Amount (USD)
Category   Year Month
Automobile 2020 05             2.09
                08           290.95
                09           460.40
                11           757.72
                12           465.38
...                             ...
Utilities  2020 12            92.83
           2021 01           143.00
                02            24.00
                03           129.35
                04            59.20

[103 rows x 1 columns]

## Remove all files after reading them
## Check whether any file in the directory for update
##

# 2. Analysis
## 2.1 By type
### purchase and payment
## 2.2 Merchant and Disctionary
### Unique merchant
#### Update merchant dictionary
### Monthly spending on each merchant and category 
## 2.3 Monthly report

In [232]:
purchase = april_df[april_df['Type'] == "Purchase"]
print(purchase)
payment = april_df[april_df['Type'] == "Payment"]
print(payment)

   Month Day  Year                Merchant       Category      Type  \
40    03  31  2021                T-Mobile      Utilities  Purchase
39    04  01  2021                   Geico     Automobile  Purchase
38    04  02  2021              Soundcloud  Subscriptions  Purchase
36    04  03  2021          Apple Services  Entertainment  Purchase
35    04  08  2021          Apple Services  Entertainment  Purchase
34    04  08  2021          Apple Services  Entertainment  Purchase
33    04  13  2021          Apple Services  Entertainment  Purchase
31    04  18  2021     Extra Space Storage      Utilities  Purchase
29    04  19  2021                 Safeway        Grocery  Purchase
28    04  20  2021          Apple Services  Entertainment  Purchase
30    04  20  2021          Apple Services  Entertainment  Purchase
26    04  21  2021          Apple Services  Entertainment  Purchase
25    04  21  2021          Apple Services  Entertainment  Purchase
24    04  21  2021          Apple Services  Entertainment  Purchase
23    04  21  2021          Apple Services  Entertainment  Purchase
27    04  22  2021  The One Wireless & Gif  Entertainment  Purchase
22    04  22  2021          Apple Services  Entertainment  Purchase
21    04  22  2021          Apple Services  Entertainment  Purchase
20    04  22  2021          Apple Services  Entertainment  Purchase
18    04  22  2021                 Safeway        Grocery  Purchase
17    04  22  2021          Apple Services  Entertainment  Purchase
16    04  22  2021          Apple Services  Entertainment  Purchase
19    04  22  2021          Apple Services  Entertainment  Purchase
15    04  23  2021          Homeroom To-Go    Restaurants  Purchase
13    04  24  2021          Apple Services  Entertainment  Purchase
12    04  24  2021          Apple Services  Entertainment  Purchase
9     04  25  2021  City of LA Dot Pvb Pbp     Automobile  Purchase
11    04  25  2021          Apple Services  Entertainment  Purchase
10    04  26  2021          Apple Services  Entertainment  Purchase
8     04  26  2021  BB* Marufuku Ramen Oak    Restaurants  Purchase
7     04  26  2021     Extra Space Storage      Utilities  Purchase
6     04  27  2021                 Safeway        Grocery  Purchase
5     04  28  2021      Humphry Slocombe I    Restaurants  Purchase
4     04  29  2021             Papa John's    Restaurants  Purchase
3     04  29  2021            Seoul Hotdog    Restaurants  Purchase
2     04  29  2021          Apple Services  Entertainment  Purchase
1     04  29  2021          Apple Services  Entertainment  Purchase
0     04  30  2021          Apple Services  Entertainment  Purchase

    Amount (USD)
40         26.68
39        264.66
38          4.99
36          3.99
35          2.99
34          2.99
33         30.99
31         24.00
29          3.27
28          2.99
30          2.99
26         19.99
25          4.99
24          4.99
23          4.99
27         93.59
22         19.99
21         49.99
20         19.99
18         10.39
17          9.99
16          4.99
19         19.99
15         13.75
13          2.99
12          2.99
9          65.00
11         49.99
10          3.99
8          25.67
7          35.20
6           8.96
5          19.98
4          21.84
3          10.90
2          19.99
1           4.99
0           2.99
   Month Day  Year      Merchant Category     Type  Amount (USD)
37    04  04  2021  Card payment  Payment  Payment       -343.30
32    04  15  2021  Card payment  Payment  Payment        -40.96
14    04  25  2021  Card payment  Payment  Payment       -310.88