In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [91]:
os.getcwd()
pd.set_option("max_rows", 15)

In [15]:
# file and DB URL
db_url = "C:/Users/hyo05/Documents/Portfolio/Apple transaction/csv/"
file_url = db_url + "Apple Card Transactions - April 2021.csv"
print(file_url)

C:/Users/hyo05/Documents/Portfolio/Apple transaction/csv/Apple Card Transactions - April 2021.csv

In [139]:
# Dictionary for Merchant and Category
merchant_dict = {'Apple Services' : 'Entertainment', 'Extra Space Storage' : 'Utilities', 'Geico' : 'Automobile', 'City of LA Dot Pvb Pbp' : 'Automobile', 'Soundcloud' : 'Subscriptions', 'T-Mobile' : 'Utilities'}

In [ ]:
def read_db():

In [142]:
def read_csv(f_url):
    # Reading csv file
    f_df = pd.read_csv(f_url)[['Transaction Date', 'Merchant', 'Category', 'Type', 'Amount (USD)']]
    f_df = f_df.sort_values(by=['Transaction Date'])

    # Cleaning values
    for index, row in f_df.iterrows():
        if row['Merchant'] in merchant_dict.keys():
            f_df.at[index, 'Category'] = merchant_dict.get(row['Merchant'])
        elif row['Merchant'] == "Ach Deposit Internet Transfer From Account Ending In 3437":
            f_df.at[index, 'Merchant'] = "Card payment"

    return f_df

april_df = read_csv(file_url)
april_df

   Transaction Date        Merchant       Category      Type  Amount (USD)
40       03/31/2021        T-Mobile      Utilities  Purchase         26.68
39       04/01/2021           Geico     Automobile  Purchase        264.66
38       04/02/2021      Soundcloud  Subscriptions  Purchase          4.99
36       04/03/2021  Apple Services  Entertainment  Purchase          3.99
37       04/04/2021    Card payment        Payment   Payment       -343.30
..              ...             ...            ...       ...           ...
4        04/29/2021     Papa John's    Restaurants  Purchase         21.84
3        04/29/2021    Seoul Hotdog    Restaurants  Purchase         10.90
2        04/29/2021  Apple Services  Entertainment  Purchase         19.99
1        04/29/2021  Apple Services  Entertainment  Purchase          4.99
0        04/30/2021  Apple Services  Entertainment  Purchase          2.99

[41 rows x 5 columns]

In [144]:
purchase = april_df.where(april_df['Type'] == "Purchase").dropna()
print(purchase)
payment = april_df.where(april_df['Type'] == "Payment").dropna()
print(payment)

   Transaction Date        Merchant       Category      Type  Amount (USD)
40       03/31/2021        T-Mobile      Utilities  Purchase         26.68
39       04/01/2021           Geico     Automobile  Purchase        264.66
38       04/02/2021      Soundcloud  Subscriptions  Purchase          4.99
36       04/03/2021  Apple Services  Entertainment  Purchase          3.99
35       04/08/2021  Apple Services  Entertainment  Purchase          2.99
..              ...             ...            ...       ...           ...
4        04/29/2021     Papa John's    Restaurants  Purchase         21.84
3        04/29/2021    Seoul Hotdog    Restaurants  Purchase         10.90
2        04/29/2021  Apple Services  Entertainment  Purchase         19.99
1        04/29/2021  Apple Services  Entertainment  Purchase          4.99
0        04/30/2021  Apple Services  Entertainment  Purchase          2.99

[38 rows x 5 columns]
   Transaction Date      Merchant Category     Type  Amount (USD)
37       04/04/2021  Card payment  Payment  Payment       -343.30
32       04/15/2021  Card payment  Payment  Payment        -40.96
14       04/25/2021  Card payment  Payment  Payment       -310.88

In [145]:
purchase_by_merchant = purchase.groupby(by=['Merchant', 'Category']).sum()
purchase_by_merchant

                                      Amount (USD)
Merchant               Category
Apple Services         Entertainment        294.77
BB* Marufuku Ramen Oak Restaurants           25.67
City of LA Dot Pvb Pbp Automobile            65.00
Extra Space Storage    Utilities             59.20
Geico                  Automobile           264.66
Homeroom To-Go         Restaurants           13.75
Humphry Slocombe I     Restaurants           19.98
Papa John's            Restaurants           21.84
Safeway                Grocery               22.62
Seoul Hotdog           Restaurants           10.90
Soundcloud             Subscriptions          4.99
T-Mobile               Utilities             26.68
The One Wireless & Gif Other                 93.59

In [146]:
merchant_dict = {'Apple Services' : 'Entertainment', 'Extra Space Storage' : 'Utilities', 'Geico' : 'Automobile', 'City of LA Dot Pvb Pbp' : 'Automobile', 'Soundcloud' : 'Subscriptions', 'T-Mobile' : 'Utilities'}

merchant_dict.get('Apple Services')

merchant_dict.keys()

purchase

   Transaction Date        Merchant       Category      Type  Amount (USD)
40       03/31/2021        T-Mobile      Utilities  Purchase         26.68
39       04/01/2021           Geico     Automobile  Purchase        264.66
38       04/02/2021      Soundcloud  Subscriptions  Purchase          4.99
36       04/03/2021  Apple Services  Entertainment  Purchase          3.99
35       04/08/2021  Apple Services  Entertainment  Purchase          2.99
..              ...             ...            ...       ...           ...
4        04/29/2021     Papa John's    Restaurants  Purchase         21.84
3        04/29/2021    Seoul Hotdog    Restaurants  Purchase         10.90
2        04/29/2021  Apple Services  Entertainment  Purchase         19.99
1        04/29/2021  Apple Services  Entertainment  Purchase          4.99
0        04/30/2021  Apple Services  Entertainment  Purchase          2.99

[38 rows x 5 columns]